.copyright
    - const hexoURL = "https://hexo.io/";
    - const hermesURL = "https://github.com/claymcleod/hexo-theme-hermes";
    - const currentDate = new Date();
    - let year = currentDate.getFullYear();
    - year = year === theme.startyear ? year : theme.startyear + ' - ' + year;
    p © #{year} #[a(href=config.url)!= config.author], powered by #[a(href=hexoURL, target="_blank") Hexo] and #[a(href=hermesURL, target="_blank") hexo-theme-hermes]. 
    if theme.enable_image_credit
        p Logo and Icon made by #[a(href="https://www.flaticon.com/authors/freepik") Freepik] from #[a(href="https://flaticon.com") www.flaticon.com].